@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="track-list">
        <table>
            @for (var i = 0; i < ViewBag.PlayedTracks.Count; i++)
            {
            <tr>
                @{ var track = ViewBag.PlayedTracks[i]; }
                <td><img style="width:100px;height:100px;" src="@track.AlbumArtUrl"></td>
                <td>@track.Position</td>
                <td>@track.Name</td>
                <td>@track.Artist</td>
            </tr>
            }
        </table>
    </div>
</div>
